@import '../../styles/abstracts/variables';

#home {
    width: 100vw;
    height: $min-page-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}