// Lightmode colors
$bg--light: white;
$accent--light: #0565b3;
$text--light: black;
$hover--light: #0B2F85;
$border--light: $accent--light;

// Darkmode colors
$bg--dark: #000341;
$accent--dark: white;
$text--dark: white;
$hover--dark: #0B2F85;
$border--dark: $accent--dark;