@use '../../styles/abstracts/colors' as *;
@import '../../styles/abstracts/variables';

.footer {
    position:relative;
    bottom: 0;
    width: 100vw;
    height: $footer-h;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $primary;

    p {
        color: white;
    }
}

.dark {

}

.light {

}