@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/colors';

.portfolio {

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    align-items: start;
    header {
        height: 84vh;

        span {
            color: $primary;
        }

        p {
            margin-top: 61%;
        }

        img {
            margin-left: 12vw;
            transform-origin: center;
            width: 20vw;
        }
    }
}

.pages {
    color: white;

    background: rgb(11,0,111);
    background: -moz-linear-gradient(125deg, rgba(11,0,111,1) 0%, rgba(4,0,40,1) 46%);
    background: -webkit-linear-gradient(125deg, rgba(11,0,111,1) 0%, rgba(4,0,40,1) 46%);
    background: linear-gradient(125deg, rgba(11,0,111,1) 0%, rgba(4,0,40,1) 46%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b006f",endColorstr="#040028",GradientType=1); 

    padding: 20px 15vw;

    h3 {
        margin-bottom: 20px;
    }

    div {
        align-items: flex-start;
        justify-content: space-around;

        img {
            height: 300px;
        }
    }
}

.projects {
    min-height: 60vh;
    padding: 20px 15vw;

    div > span {
        max-height: 80vh;
        margin-right: 10px;
    }

    a {
        color: inherit;
    }

    a:hover {
        color: $secondary
    }
}