html {
  margin: 0;
  padding: 0;
}

h1, h3, ul, ol, li {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

%flex {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-center {
  @extend %flex;
  justify-content: center;
}

.flex-right {
  @extend %flex;
  justify-content: right;
}

.flex-left {
  @extend %flex;
  justify-content: left;
}

.flex-col-left {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-col-center {
  @extend .flex-center;
  flex-direction: column;
}