@use '../abstracts/colors' as *;

body {
    padding: 0;
    margin: 0;
}


@mixin theme($background, $text, $primary, $secondary) {
    .text {
        color: $text;
    }

    .background {
        background-color: $background;
    }
}

.light {
    @include theme(#fff, #000, $blue9, $green4);
}

.dark {
    @include theme(#000, #fff, $blue9, $green4);
}